In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

In [2]:
df_airports = pd.read_csv('data/airports.dat', sep=",",  
                 names=["Airport ID", "Name", "City", "Country", "IATA", "ICAO", "Latitude", 
                        "Longitude", "Altitude", "Timezone", "DST",
                       "Tz database time zone", "Type", "Source"])

In [3]:
df_airports

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,14106,Rogachyovo Air Base,Belaya,Russia,\N,ULDA,71.616699,52.478298,272,\N,\N,\N,airport,OurAirports
7694,14107,Ulan-Ude East Airport,Ulan Ude,Russia,\N,XIUW,51.849998,107.737999,1670,\N,\N,\N,airport,OurAirports
7695,14108,Krechevitsy Air Base,Novgorod,Russia,\N,ULLK,58.625000,31.385000,85,\N,\N,\N,airport,OurAirports
7696,14109,Desierto de Atacama Airport,Copiapo,Chile,CPO,SCAT,-27.261200,-70.779198,670,\N,\N,\N,airport,OurAirports
7697,14110,Melitopol Air Base,Melitopol,Ukraine,\N,UKDM,46.880001,35.305000,0,\N,\N,\N,airport,OurAirports

In [4]:
#Pegando apenas os Aeroportos, Brasileiros 
aeroport_brasil = df_airports.loc[df_airports['Country'] == 'Brazil']
#print(aeroport_brasil)

aeroport_brasil

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz database time zone,Type,Source
2392,2518,Conceição do Araguaia Airport,Conceicao Do Araguaia,Brazil,CDJ,SBAA,-8.348350,-49.301498,653,-3,S,America/Belem,airport,OurAirports
2393,2519,Campo Délio Jardim de Mattos Airport,Rio De Janeiro,Brazil,\N,SBAF,-22.875099,-43.384701,110,-3,S,America/Sao_Paulo,airport,OurAirports
2394,2520,Amapá Airport,Amapa,Brazil,\N,SBAM,2.077510,-50.858200,45,-3,S,America/Fortaleza,airport,OurAirports
2395,2521,Araraquara Airport,Araracuara,Brazil,AQA,SBAQ,-21.812000,-48.132999,2334,-3,S,America/Sao_Paulo,airport,OurAirports
2396,2522,Santa Maria Airport,Aracaju,Brazil,AJU,SBAR,-10.984000,-37.070301,23,-3,S,America/Fortaleza,airport,OurAirports
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7643,13723,Augusto Severo Airport,Natal,Brazil,\N,SBNT,-5.911420,-35.247700,169,\N,\N,\N,airport,OurAirports
7647,13735,Flores Airport,MANAUS,Brazil,\N,SWFN,-3.072778,-60.021111,203,-4,S,\N,airport,OurAirports
7659,13772,Fazenda Uiapuru Airport,COMODORO,Brazil,\N,SWVJ,-13.663889,-56.002220,1519,-4,S,\N,airport,OurAirports
7670,13830,Fazenda Kajussol Airport,Alta Floresta D'Oeste,Brazil,\N,SJYD,-11.964722,-61.686668,636,-4,S,\N,airport,OurAirports
7672,13881,Costa Marques Airport,COSTA MARQUES,Brazil,CQS,SWCQ,-12.421100,-64.251602,555,-4,S,\N,airport,OurAirports

In [5]:
df_airlines = pd.read_csv('data/airlines.dat', sep=",",  
                 names=["Airline ID", "Name", "Alias", "IATA", "ICAO", "Callsign", 
                        "Country", "Active"])

In [26]:
df_airlines

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
0,-1,Unknown,\N,-,NaN,\N,\N,Y
1,1,Private flight,\N,-,NaN,NaN,NaN,Y
2,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
3,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
4,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
...,...,...,...,...,...,...,...,...
6157,21248,GX Airlines,NaN,NaN,CBG,SPRAY,China,Y
6158,21251,Lynx Aviation (L3/SSX),NaN,NaN,SSX,Shasta,United States,N
6159,21268,Jetgo Australia,NaN,JG,\N,NaN,Australia,Y
6160,21270,Air Carnival,NaN,2S,\N,NaN,India,Y
6161,21317,Svyaz Rossiya,Russian Commuter,7R,SJM,RussianConnecty,Russia,Y

In [6]:
airlines_brasil = df_airlines.loc[df_airlines['Country'] == 'Brazil']

In [7]:
airlines_brasil

,Airline ID,Name,Alias,IATA,ICAO,Callsign,Country,Active
42,42,ABSA - Aerolinhas Brasileiras,\N,M3,TUS,ABSA Cargo,Brazil,Y
43,43,Abaet,\N,NaN,ABJ,Abaet,Brazil,N
51,51,ATA Brasil,\N,NaN,ABZ,ATA-BRAZIL,Brazil,N
226,226,Airvias S/A Linhas Aereas,\N,NaN,AIV,AIRVIAS,Brazil,N
301,301,Air Minas Linhas A,\N,NaN,AMG,AIR MINAS,Brazil,N
1380,1381,BETA - Brazilian Express Transportes Aereos,\N,NaN,BET,BETA CARGO,Brazil,N
1404,1405,Bringer Air Cargo Taxi Aereo,\N,E6,NaN,NaN,Brazil,N
1468,1469,BRA-Transportes Aereos,\N,7R,BRB,BRA-TRANSPAEREOS,Brazil,N
1475,1476,Brazilian Air Force,\N,NaN,BRS,BRAZILIAN AIR FORCE,Brazil,Y
1485,1486,Brasair Transportes Aereos,\N,NaN,BSI,BRASAIR,Brazil,N
1533,1534,Brazilian Army Aviation,\N,NaN,EXB,BRAZILIAN ARMY,Brazil,N
1548,1549,Brazilian Navy Aviation,\N,NaN,MBR,BRAZILIAN NAVY,Brazil,N
1932,1933,Cruiser Linhas Aereas,\N,NaN,VCR,VOE CRUISER,Brazil,N
2177,2178,Empresa Brasileira De Aeronautica,\N,NaN,EMB,EMBRAER,Brazil,N
2196,2197,Empressa Brasileira de Infra-Estrutura Aeropor...,\N,NaN,XLT,INFRAERO,Brazil,N
2489,2490,GENSA,\N,NaN,GEN,GENSA-BRASIL,Brazil,N
2580,2581,Gol Transportes Aéreos,\N,G3,GLO,GOL TRANSPORTE,Brazil,Y
3417,3421,Mastertop Linhas Aereas,\N,Q4,NaN,NaN,Brazil,N
3448,3452,Mega Linhas Aereas,\N,NaN,MEL,MEGA AIR,Brazil,N
3463,3468,Meta Linhas A,\N,NaN,MSQ,META,Brazil,N
3569,3574,NHT Lineas Aereas,\N,NaN,NHG,HELGA,Brazil,N
3674,3679,Nordeste Linhas Aereas Regionais,\N,JH,NES,NORDESTE,Brazil,N
3759,3764,Oceanair,\N,O6,ONE,OCEANAIR,Brazil,Y
3894,3900,Pantanal Linhas Aéreas,\N,P8,PTN,PANTANAL,Brazil,N
3908,3914,Passaredo Transportes Aereos,\N,NaN,PTB,PASSAREDO,Brazil,Y
3954,3960,Phoenix Air Lines,\N,NaN,PHN,PHOENIX BRASIL,Brazil,N
4078,4084,Puma Linhas Aereas,\N,NaN,PLY,PUMA BRASIL,Brazil,N
4192,4198,Rico Linhas A,\N,C7,RLE,RICO,Brazil,N
4198,4204,Rio Air Express,\N,NaN,SKA,RIO EXPRESS,Brazil,N
4201,4207,Rio Sul Servi,\N,SL,RSL,RIO SUL,Brazil,N
4229,4235,Rotatur,\N,NaN,RTR,ROTATUR,Brazil,N
4750,4758,Sete Linhas Aereas,\N,NaN,SLX,SETE,Brazil,N
4857,4867,TAM Brazilian Airlines,\N,JJ,TAM,TAM,Brazil,Y
4864,4874,Transbrasil,\N,NaN,TBA,TRANSBRASIL,Brazil,N
4948,4958,TEAM Transportes Aereos,\N,NaN,TIM,TEAM BRASIL,Brazil,N
5046,5056,TAF-Linhas Aereas,\N,NaN,TSD,TAFI,Brazil,N
5069,5079,Total Linhas Aereas,\N,NaN,TTL,TOTAL,Brazil,N
5177,5188,TRIP Linhas A,\N,8R,TIB,TRIP,Brazil,Y
5306,5323,VICA - Viacao Charter Aereos,\N,NaN,VCA,VICA,Brazil,N
5337,5354,Varig Log,\N,LC,VLO,VELOG,Brazil,Y
5351,5368,VRG Linhas Aereas,Varig,RG,VRN,VARIG,Brazil,Y
5356,5373,VASP,\N,VP,VSP,VASP,Brazil,Y
5382,5399,WebJet Linhas A,\N,WJ,WEB,WEB-BRASIL,Brazil,Y
5701,13306,BRAZIL AIR,BRAZIL AIR,GB,BZE,BRAZIL AIR,Brazil,Y
5720,13838,Aero Brazil,NaN,BZ,BZL,NaN,Brazil,N
5726,13983,Azul,Azul Linhas Aéreas Brasileiras,AD,AZU,NaN,Brazil,Y
5755,15985,TrasBrasil,NaN,TB,TBZ,NaN,Brazil,Y
5756,15989,TransBrasil Airlines,NaN,TH,THS,NaN,Brazil,Y
5767,16127,TransHolding,Trans,TI,THI,NaN,Brazil,Y
5776,16150,TransHolding System,NaN,YO,TYS,NaN,Brazil,Y
5780,16234,Fly Brasil,Fly Brasil,F1,FBL,FBL,Brazil,Y
5793,16364,Austral Brasil,Austral Brasil lineas aereas,W7,\N,NaN,Brazil,Y
5801,16487,Cruzeiro do Sul Servicos Aereos,NaN,NaN,CRZ,NaN,Brazil,N
5813,16645,NEXT Brasil,NEXT,XB,NXB,XB,Brazil,Y
5817,16695,GNB Linhas Aereas,NaN,GN,\N,NaN,Brazil,Y
5841,16826,Whitejets,NaN,NaN,WTJ,WHITEJET,Brazil,Y
5851,16900,TROPICAL LINHAS AEREAS,TROPICAL,T1,TP3,NaN,Brazil,N
6040,19812,Voestar,Voestar Brasil,8K,K88,NaN,Brazil,Y
6064,19977,All America BR,All America Brasil,1Y,A9B,NaN,Brazil,Y
6075,20110,FOX Linhas Aereas,NaN,FX,FOX,NaN,Brazil,Y

In [10]:
df_routes = pd.read_csv('data/routes.dat', sep=",",  
                 names=["Airline", "Airline ID", "Source airport", "Source airport ID", 
                        "Destination airport", "Destination airport ID", "Codeshare", "Stops", "Equipment"])

In [11]:
df_routes

,Airline,Airline ID,Source airport,Source airport ID,Destination airport,Destination airport ID,Codeshare,Stops,Equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734

In [15]:
# Percorrendo todas as rotas 
# Verificando quais tem origem e destino em aeroporto brasileiro
# Salvando a rota e a linha que opera a mesma 

lis_id_areo_BR = list(aeroport_brasil["Airport ID"])
lista_rotas_BR = []
lista_linha_rota_BR = []

for i in tqdm(range(0, 67663)):
    try:
        aero_orige = int(df_routes.iloc[i][3])
        aero_dest = int(df_routes.iloc[i][5])
        
        
        # Rota (Aeroporto de origem e destino)
        rota = [int(df_routes.iloc[i][3]), int(df_routes.iloc[i][5])]
        
        # Linha e a rota que a mesma opera
        linha_aero = [int(df_routes.iloc[i][1]), rota]

        # Verifica se a rota é BR, com origem e destino no brasil
        if aero_orige in lis_id_areo_BR and aero_dest in lis_id_areo_BR:
            lista_rotas_BR.append(rota) # Quardando as rotas BR
            lista_linha_rota_BR.append(linha_aero) # Linhas e as rotas que a mesma opero (Arepostos)
        
    except ValueError:
        pass

100%|██████████| 67663/67663 [00:31<00:00, 2176.76it/s]

In [20]:
# Percorrendo todos o aeroportos brasileiros
a_l = []
a_r = []
A = list(aeroport_brasil["Airport ID"])
L = lista_linha_rota_BR 
R = lista_rotas_BR

for i in tqdm(range(0, 264)):
    
    a = A[i]
    
    for j in range(0, len(lista_linha_rota_BR)):
        if a in lista_linha_rota_BR[j][1]:
            a_l.append([a , lista_linha_rota_BR[j][0]]) # Aeroporto e linha (id)
    
    for l in range(0, len(lista_rotas_BR)):
        
        if a in lista_rotas_BR[l]:
            a_r.append([a, lista_rotas_BR[l]])

100%|██████████| 264/264 [00:00<00:00, 3859.29it/s]

In [23]:
print(len(a_r))
print(len(a_l))

2372
2372

## O conjunto de vértices é formado pela união de:
 * A – o conjunto dos aeroportos situados no Brasil
 * L – o conjunto das linhas aéreas situadas no Brasil
 * R – o conjunto das rotas entre aeroportos brasileiros

In [17]:
# Criando os vértices A L R
A = list(aeroport_brasil["Airport ID"]) # Ao conjunto dos aeroportos situados no Brasil (ID)
L = list(airlines_brasil["Airline ID"]) # o conjunto das linhas aéreas situadas no Brasil (ID)
R = lista_rotas_BR # o conjunto das rotas entre aeroportos brasileiros (ID)

## As arestas são formada pelos seguintes pares:
 * {a, l} – onde a ∈ A, l ∈ L, e a linha aérea l opera algum vôo com origem ou destino no aeroporto a.
 * {a, r} – onde a ∈ A, r ∈ R, e a rota r possui origem ou destino no aeroporto a.

In [26]:
# Indefificação aeroporto
ICAO_aeroport = aeroport_brasil["ICAO"]
IATA_aeroport = aeroport_brasil["IATA"]


ICAO_airlines = airlines_brasil["ICAO"]

In [25]:
ICAO_airlines

42      TUS
43      ABJ
51      ABZ
226     AIV
301     AMG
1380    BET
1404    NaN
1468    BRB
1475    BRS
1485    BSI
1533    EXB
1548    MBR
1932    VCR
2177    EMB
2196    XLT
2489    GEN
2580    GLO
3417    NaN
3448    MEL
3463    MSQ
3569    NHG
3674    NES
3759    ONE
3894    PTN
3908    PTB
3954    PHN
4078    PLY
4192    RLE
4198    SKA
4201    RSL
4229    RTR
4750    SLX
4857    TAM
4864    TBA
4948    TIM
5046    TSD
5069    TTL
5177    TIB
5306    VCA
5337    VLO
5351    VRN
5356    VSP
5382    WEB
5701    BZE
5720    BZL
5726    AZU
5755    TBZ
5756    THS
5767    THI
5776    TYS
5780    FBL
5793     \N
5801    CRZ
5813    NXB
5817     \N
5841    WTJ
5851    TP3
6040    K88
6064    A9B
6075    FOX
Name: ICAO, dtype: object

In [27]:
ICAO_aeroport

2392    SBAA
2393    SBAF
2394    SBAM
2395    SBAQ
2396    SBAR
        ...
7643    SBNT
7647    SWFN
7659    SWVJ
7670    SJYD
7672    SWCQ
Name: ICAO, Length: 264, dtype: object